# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/

# Virtual environments
.venv/
venv/
env/

# Test & Coverage Artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE / Editor specific
.vscode/
.idea/

# Secrets
.env

# Log files
logs/
*.log
